.avatar {
  width: 250px;
}

.lore {
  background-color: var(--landing-bg);
  color: var(--landing-text);
}

.lore > .title {
  background-color: var(--landing-text);
  color: var(--landing-bg);
}

.naomi {
  background-color: var(--naomi-bg);
  color: var(--naomi-text);
}

.naomi > .title {
  background-color: var(--naomi-text);
  color: var(--naomi-bg);
}

.melody {
  background-color: var(--melody-bg);
  color: var(--melody-text);
}

.melody > .title {
  background-color: var(--melody-text);
  color: var(--melody-bg);
}

.becca {
  background-color: var(--becca-bg);
  color: var(--becca-text);
}

.becca > .title {
  background-color: var(--becca-text);
  color: var(--becca-bg);
}

.rosalia {
  background-color: var(--rosalia-bg);
  color: var(--rosalia-text);
}

.rosalia > .title {
  background-color: var(--rosalia-text);
  color: var(--rosalia-bg);
}
