:root {
  --landing-text: #454a00;
  --landing-bg: #fbffc4c0;
  --naomi-text: #3a3240;
  --naomi-bg: #aea8dec0;
  --soup-text: #5c0600;
  --soup-bg: #ffa099c0;
  --melody-text: #005273;
  --melody-bg: #ccf1ffc0;
  --becca-text: #533070;
  --becca-bg: #efc3efc0;
  --rosalia-text: #004502;
  --rosalia-bg: #e0ffe1c0;
  --cursor-normal: url("https://cdn.nhcarrigan.com/cursors/cursor.cur");
  --cursor-pointer: url("https://cdn.nhcarrigan.com/cursors/pointer.cur");
}

@font-face {
  font-family: "Odudo";
  src: url("/assets/fonts/odudomono.otf");
  font-display: swap;
}

html {
  cursor: var(--cursor-normal), default;
}

body {
  margin: 0;
  background: url("https://cdn.nhcarrigan.com/banner.png") no-repeat top center
    fixed;
  background-image: url("https://cdn.nhcarrigan.com/banner.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--landing-text);
  font-family: "Odudo", Courier, monospace;
  text-align: center;
}

.content {
  margin: auto;
  margin-top: 10px;
  max-width: 750px;
}

.nes-container.is-rounded {
  background-color: var(--landing-bg);
}

.nes-container.is-rounded.with-title.is-centered {
  margin-bottom: 20px;
}

.nes-container.is-rounded.with-title.is-centered > .title {
  font-size: 1.5rem;
}

.nes-btn {
  cursor: var(--cursor-pointer), pointer;
}
